a,
a:hover {
  text-decoration: none !important;
}
.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(233, 242, 239, 0.4) !important;
  border: none;
}
::placeholder {
  padding-left: 10px;
}
.searchText {
  width: 14rem;
  height: 2.2rem;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  background: rgba(209, 242, 235, 0.4) !important;
}
.searchText:focus {
  outline: none;
}
.searchBtn {
  color: #2fc5c2 !important;
  right: 1rem;
  position: absolute;
  display: grid;
  place-items: center;
}
a,
a:hover {
  text-decoration: none !important;
}
.searchB {
  border-radius: 5px;
  margin-bottom: -15px;
}
::placeholder {
  padding-left: 10px;
}
.searchT {
  width: 20vw;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  background: #fff !important;
}
.searchT:focus {
  outline: none;
}
.searchBt {
  color: #2fc5c2 !important;
  background-color: #2fc5c2;
  width: 4vw;
  height: 2.5rem;
  top: -40px;
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 5px;
  left: 14.6rem;
}
@media only screen and (min-device-width: 1900px) and (max-device-width: 1980px) {
  .searchBt {
    color: #2fc5c2 !important;
    background-color: #2fc5c2;
    width: 4vw;
    height: 2.5rem;
    top: -40px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 5px;
    left: 19.6rem;
  }
}
