@font-face {
  font-family: "stddemi-font";
  src: url("../fonts/ITCAvantGardeStdDemi.otf");
}

@font-face {
  font-family: "stdmedium-font";
  src: url("../fonts/ITCAvantGardeStdMd.otf");
}

@font-face {
  font-family: "stdbook-font";
  src: url("../fonts/ITCAvantGardeStdBk.otf");
}
img.hlogo {
  width: 80%;
  margin-top: -14px;
}
a.navbar-brand {
  width: 161px;
}
section {
  height: 90vh;
  background: #17bebb;
}
.sign a {
  position: relative;
  width: 70px;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: -1rem !important;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
li.nav-item.sign ::after {
  content: "";
  border-right: 1px solid #d0d3d4;
  position: absolute;
  width: 10px;
  height: 55px;
  margin-top: -20px;

  margin: -20px 0px 0 10px;
}
.header-wr {
  background-color: #fff;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.logo-wr-header img {
  width: 60%;
  margin-top: 15px;
}
.menu-wr li,
.last-btn li {
  list-style: none;
  display: inline;
  letter-spacing: 0.5px;
}
.menu-wr a {
  font-size: 15px !important;
  font-weight: 600 !important;
  margin-left: 30px !important;
  color: #2b2b2b !important;
  transition: all 0.2s ease;
  font-family: stdmedium-font;
}
.menu-wr a:hover {
  color: #17bebb !important;
}

.menu-wr .mr-auto {
  margin-left: 0px !important;
}

.menu-wr .navbar {
  padding: 0;
}

.last-btn a {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
}
.post-btn {
  width: 101px;
  margin: 0px 0 0 10px !important;
}
.post-btn a {
  border: 2px solid #17bebb;
  border-radius: 50px;
  color: #17bebb !important;
  padding: 5px 15px !important;
  transition: all 0.2s ease;
}
/* .post-btn a:hover {
  color: #fff !important;
  border-color: #17bebb;
  background-color: #17bebb;
} */
.logicon img {
  /* height: 25px; */
  cursor: pointer;
  margin: 5px 0 0 0;
}
/* .navbar-nav .dropdown-menu {
  position: static !important;
} */
.nav-link {
  font-family: "stdmedium-font";
  color: #000 !important;
}
a.nav-link:focus,
:hover {
  color: #17bebb !important;
}
i.fa.fa-bars {
  font-size: 30px;
  font-weight: 700;
  color: #000 !important;
  margin: -4px 0 0 15px;
}
.dropdown-menu {
  border: none !important;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-evenly; */
}
li.nav-item {
  margin: 0 3px;
  font-size: 14px;
}
/* footer */

@media only screen and (min-device-width: 1900px) and (max-device-width: 1980px) {
  img.hlogo {
    width: 80%;
    margin-top: 1px;
  }
  a.navbar-brand {
    width: 200px;
  }
  i.fa.fa-bars {
    font-size: 30px;
    font-weight: 700;
    color: #000 !important;
    margin: -4px 0 0 -11px;
  }
}
