@font-face {
  font-family: "stddemi-font";
  src: url("../fonts/ITCAvantGardeStdDemi.otf");
}

@font-face {
  font-family: "stdmedium-font";
  src: url("../fonts/ITCAvantGardeStdMd.otf");
}

@font-face {
  font-family: "stdbook-font";
  src: url("../fonts/ITCAvantGardeStdBk.otf");
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* box-shadow: 2px 2px 2px 2px #000; */
  box-shadow: 0 3px 5px -3px #f8f9fa;
}
img.hlogo {
  width: 70%;
  margin-left: 16px;
  margin-top: -6px;
}
a.navbar-brand {
  width: 161px;
}
section {
  height: 90vh;
  background: #17bebb;
}
.sign a {
  position: relative;
  width: 70px;
}
.navbar .dropdown {
  position: static;
}

.navbar .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 45px;
}
ul.dropdown-menu.menu1 {
  padding-left: 43rem;
}

ul.dropdown-menu.menu2 {
  padding-left: 51rem;
}
ul.dropdown-menu.menu3 {
  padding-left: 59rem;
}
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block !important;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: -1rem !important;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
li.nav-item.sign ::after {
  content: "";
  border-right: 1px solid #d0d3d4;
  position: absolute;
  width: 10px;
  height: 59px;
  margin-top: -20px;

  margin: -20px 0px 0 10px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-family: "stdmedium-font";
}
.header-wr {
  background-color: #fff;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.logo-wr-header img {
  width: 60%;
  margin-top: 15px;
}
.menu-wr li,
.last-btn li {
  list-style: none;
  display: inline;
  letter-spacing: 0.5px;
}
.menu-wr a {
  font-size: 15px !important;
  font-weight: 600 !important;
  margin-left: 30px !important;
  color: #2b2b2b !important;
  transition: all 0.2s ease;
  font-family: stdmedium-font;
}
.menu-wr a:hover {
  color: #17bebb !important;
}

.menu-wr .mr-auto {
  margin-left: 0px !important;
}

.menu-wr .navbar {
  padding: 0;
}
img.fa.fa-bars {
  width: 25px;
  margin-left: 7px;
}
.last-btn a {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
}
.post-btn {
  width: 101px;
  margin: 2px 0 0 10px !important;
}
.post-btn a {
  border: 2px solid #17bebb;
  border-radius: 50px;
  color: #17bebb !important;
  padding: 5px 15px !important;
  transition: all 0.2s ease;
  text-align: center;
  font-family: "stdmedium-font";
}
.post-btn a:hover {
  color: #17bebb !important;
  border-color: #17bebb;
  background-color: #17bebb;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #17bebb !important;
  text-decoration: none;
  background-color: transparent !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #17bebb !important;
  background-color: transparent !important;
  border: none;
}
/* .nav-link:active,
.nav-link :focus,
.nav-link :hover {
  font-family: "stdmedium-font";
  color: #17bebb !important;
} */
a#navbarScrollingDropdown:active,
a#navbarScrollingDropdown:focus,
a#navbarScrollingDropdown:hover {
  font-family: "stdmedium-font";
  color: #17bebb !important;
}
.logicon img {
  cursor: pointer;
  margin: 5px 0 0 10px;
}

.nav-link {
  font-family: "stdmedium-font";
  color: #000 !important;
}
a.nav-link :hover {
  color: #17bebb !important;
}
i.fa.fa-bars {
  font-size: 30px;
  font-weight: 700;
  color: #000 !important;
  margin: -4px 0 0 15px;
}
.dropdown-menu {
  border: none !important;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-evenly; */
}
li.nav-item {
  margin: 0 3px;
  font-size: 14px;
}
/* footer */
footer {
  font-family: "stdbook-font";
  height: 60vh;
  background: #2b2b2b;
  color: #fff;
}
footer a {
  text-decoration: none !important;
  color: #fff !important;
}
footer .container {
  padding-top: 5rem;
}
footer h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
footer span {
  color: #17bebb;
}
footer h4 {
  text-transform: uppercase;
  color: #17bebb;
  font-size: 1rem;
  padding-bottom: 1rem;
}
footer p {
  font-size: 0.9rem;
  margin-bottom: 14px;
}

footer i.fa.fa-arrow-right {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #fff;
}
footer .icon img {
  width: 18px;
  margin-right: 30px;
  margin-bottom: 14px;
}
footer .number,
.email,
.location {
  margin-bottom: 14px;
}
footer .number img,
.email img {
  margin-right: 10px;
}
footer .location p {
  margin-left: 31px;
  margin-top: -24px;
}

footer .number span,
.email span,
.location span {
  font-family: "stdbook-font";
  color: #fff;
  font-size: 13px;
}
.email1 span {
  color: #fff;
}
footer .location {
  width: 30vw;
}
footer .copyright {
  float: left;
  width: 100%;
  text-align: center;
  background: #17bebb;
  padding: 15px 0;
}
footer .copyright span {
  font-size: 0.9rem;
  color: #fff;
  line-height: 24px;
}
footer.menu-icons .container {
  font-family: "stdmedium-font";
  padding-top: 2rem;
  padding-left: 2.6rem;
}
footer.menu-icons {
  font-family: "stdmedium-font";
  height: 35vh;
  font-weight: 700;
  background: #fff !important;
  color: #2b2b2b !important;
}
.menu-icons .number span,
.email span,
.location span {
  font-family: "stdmedium-font";
  color: #2b2b2b;
  font-size: 13px;
}
.menu-icons a {
  font-family: "stdmedium-font";
  text-decoration: none !important;
  color: #2b2b2b !important;
}
div#icon2 {
  margin-left: -11rem !important;
}
ul.dropdown-menu.menu1 {
  padding-left: 29.5rem;
}
ul.dropdown-menu.menu2 {
  padding-left: 38.2rem;
}
ul.dropdown-menu.menu3 {
  padding-left: 47.2rem;
}
footer.menu-icons {
  font-family: "stdmedium-font";
  height: 45vh;
  font-weight: 700;
  background: #fff !important;
  color: #2b2b2b !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .searchBox {
    margin-left: -110px;
  }
  i.fa.fa-search.fa-1\.5x {
    margin-left: -208px;
  }
  ul.dropdown-menu.menu1 {
    padding-left: 0rem;
  }
  ul.dropdown-menu.menu2 {
    padding-left: 0rem;
  }
  ul.dropdown-menu.menu3 {
    padding-left: 0rem;
  }
  footer {
    font-family: "stdbook-font";
    height: 195vh;
    background: #2b2b2b;
    color: #fff;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
  .searchBox {
    margin-left: -290px;
  }
  i.fa.fa-search.fa-1\.5x {
    margin-left: -598px;
  }
  ul.dropdown-menu.menu1 {
    padding-left: 0rem;
  }
  ul.dropdown-menu.menu2 {
    padding-left: 0rem;
  }
  ul.dropdown-menu.menu3 {
    padding-left: 0rem;
  }
  footer {
    font-family: "stdbook-font";
    height: 155vh;
    background: #2b2b2b;
    color: #fff;
  }
}
@media only screen and (min-device-width: 1900px) and (max-device-width: 1980px) {
  img.hlogo {
    width: 55%;
    margin-top: 1px;
    margin-left: 75px;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    padding-bottom: 3px;
  }
  ul.dropdown-menu.menu1 {
    padding-left: 49rem;
  }
  ul.dropdown-menu.menu2 {
    padding-left: 57.5rem;
  }
  ul.dropdown-menu.menu3 {
    padding-left: 66.5rem;
  }
  a.navbar-brand {
    width: 330px;
  }
  i.fa.fa-bars {
    font-size: 30px;
    font-weight: 700;
    color: #000 !important;
    margin: -4px 0 0 -11px;
  }
  footer {
    font-family: "stdbook-font";
    height: 45vh;
    background: #2b2b2b;
    color: #fff;
  }
  footer .icon img {
    width: 15px;
    margin-right: 25px;
  }
  footer .copyright {
    float: left;
    width: 100%;
    text-align: center;
    background: #17bebb;
    padding: 15px 0;
    margin-top: 2rem;
  }
  footer .location p {
    margin-left: 31px;
    margin-top: -24px;
    width: 306px;
  }
  footer .number img,
  .email img {
    margin-right: 15px;
    width: 14px;
  }
  footer .location img {
    width: 14px;
  }
  footer h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 40px;
  }
  footer .searchB {
    border-radius: 5px;
    margin-bottom: -15px;
    padding-left: 40px;
  }
  footer .icon {
    padding-left: 40px;
  }
  footer .number,
  .email,
  .location {
    margin-bottom: 14px;
    padding-left: 40px;
  }
  .searchBt {
    color: #2fc5c2 !important;
    background-color: #2fc5c2;
    width: 4vw;
    height: 2.5rem;
    top: -40px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 5px;
    left: 19.6rem;
  }
}
